# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\cuco2\Desktop\Verano2021\The_Bridge\Archivos de clase\1-Ramp up\hundir_la_flota\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
